html, body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 1.75em;
}
body, #app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#clock {
  font-size: 2em;
  font-weight: bold;
  margin-top: -20vh;
  margin-bottom: 30px;
  display: none;
}
#input {
  text-align: center;
  font-size: inherit;
  font-family: roboto;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
  width: 99%;
}
#message {
  font-size: 0.5em;
  margin-top: 42px;
  text-align: center;
}
#clock,
#input,
#message {
  font-family:'Liberation Mono', Roboto, sans-serif;
}
