/*GLOBAL ---------------------------------------------*/
*   {   padding:0px; margin: 0px    ;}

html{
        font-family: monospace;
        margin:     0%;
        position:   absolute;
        top:        0px;
        bottom:     0px;
        left:       0px;
        right:      0px;
    }


/*WIDTH & HEIGHT--------------------------------------*/
.fixed  {position:fixed}


/*WIDTH & HEIGHT--------------------------------------*/
.fill   {width: 100%;          height:100%;}
.w0h0   {width:  0px;          height: 0px;}

.minh300   {min-height: 300%;}

.w100   {width: 100%} .h100   {height: 100%}
.w95    {width:  95%} .h95    {height:  95%}
.w90    {width:  90%} .h90    {height:  90%}
.w80    {width:  80%} .h80    {height:  80%}
.w75    {width:  75%} .h75    {height:  75%}
.w70    {width:  70%} .h70    {height:  70%}
.w67    {width:  67%} .h67    {height:  67%}
.w66    {width:  66%} .h66    {height:  66%}
.w60    {width:  60%} .h60    {height:  60%}
.w50    {width:  50%} .h50    {height:  50%}
.w45    {width:  45%} .h45    {height:  45%}
.w33    {width:  33%} .h33    {height:  33%}
.w25    {width:  25%} .h25    {height:  25%}
.w20    {width:  20%} .h20    {height:  20%}
.w15    {width:  15%} .h15    {height:  15%}
.w10    {width:  10%} .h10    {height:  10%}
.w6     {width:   6%} .h6     {height:   6%}
.w5     {width:   5%} .h5     {height:   5%}
.w0     {width:   0%} .h0     {height:   0%}

/*FLEXIN ---------------------------------------------*/
.flex           {display:        flex          ;} .jcsb           {justify-content: space-between ;}
.none           {display:        none          ;} .jcsa           {justify-content: space-around  ;}
.column         {flex-direction: column        ;} .jcc            {justify-content: center        ;}
.colRev         {flex-direction: column-reverse;} .jcfe           {justify-content: flex-end      ;}
.row            {flex-direction: row           ;} .aic            {align-items:     center        ;}
.rowRev         {flex-direction: row-reverse   ;} .underlign      {text-decoration: underline     ;}


/*TEXT SIZE------------------------------------------*/
.textXL{font-size:    2vw;}
.textL {font-size:  1.5vw;}
.textM {font-size:    1vw;}
.textS {font-size: 0.75vw;}
.textXS{font-size:  0.5vw;}

/*TEXT COLOR------------------------------------------*/
.textWhite{color: #ebdbb2}

/*BACKGROUND COLORS-----------------------------------*/
.bgblack{background-color: #1d2021}
.bgwhite{background-color: bisque;}

.frame {border-width: 5px; border-color: red; border-style: dotted; box-sizing: border-box;}
